* {
    box-sizing: border-box;
}

:root {
    --primary: #04D1F1;
    --secondary: #ed9146;
    --white: #ffffff;
    --dark: #111111;
}


html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    background: var(--primary);
    color: var(--white);
    position: relative;
    height: 100vh;
}

h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

.header, .footer {
    background: var(--secondary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.btn {
    background: var(--secondary);
    font-size: 2rem;
    border-radius: 20px;
    border: 3px solid var(--white);
}

.btn-primary {
    padding: .2rem 4rem;
    margin-top: 1rem;
    background-color: var(--primary);
}

.btn:hover {
    opacity: .7;
    cursor: pointer;
}
.link-btn {
    color: var(--white);
    padding: .3rem 4rem;
}

/* Loops/Carousel style begin */

.loopSection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: none;
    height: 100%;
}

.loop-container {
    max-width: 100%;
    max-height: 100%;
}


.carousel {
    display: flex;
    border-radius: 20px;
    background: var(--secondary);
    min-height: 85%;
    width: 100%;
    padding: 1rem;
    border: 3px solid var(--white);
    margin-bottom: 1.5rem;
    overflow: none;
}

.carousel-img {
    width: 100%;
    height: 100%;
}

/* ContactForm style begin */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    padding: 4rem;
    border: 3px solid var(--white);
    border-radius: 20px;
    box-shadow: 0 0 10px var(--secondary);
    width: 75%;
}

.contact-container {
    background: var(--dark);
    width: 80%;
    border-radius: 20px;
    padding: 4rem 0;
}

.input-container {
    display: flex;
    flex-direction: column;

}

.form-input {
    border-radius: 10px;
    font-size: 2rem;
    padding: .2rem 1rem;
    text-align: center;
    margin-bottom: 1rem;
    border: 2px solid var(--primary);
    color: var(--dark);
}

/* Footer style begin */

.footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
}